
body {
    background-color: lightgray;
}

h2 {
    font-size: 1.5em;
}

.nav-wrapper {
    background-color: #22526b
}

.nav-wrapper .brand-logo {
    padding-left: 10px;
    color: white;
}

.card ul {
    color: black
}

ul li .label {
    font-weight: bold;
}

.scheduleHeader {
    font-size: 2.0em;
}
